
/*
body{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

h2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#userinput{
    margin: auto;
}
*/